<div  class="option-bar" >
<form  class="option-bar" action="/" method="get">
    <label class="sort-button">
        <input type="radio" value={{toggle_direction orderDescending}} id="due" name="orderDescending" {{checkedIfEqual orderBy "due"}} onclick="submit()"/>
        <input type="hidden" value="due" id="due" name="orderBy"/>
        <label for="due">Finish Date</label>
    </label>
</form>
<form class="option-bar" action="/" method="get">
    <label class="sort-button">
        <input type="radio" value={{toggle_direction orderDescending}} id="created" name="orderDescending" {{checkedIfEqual orderBy "created"}} onclick="submit()"/>
        <input type="hidden" value="created" id="created" name="orderBy"/>
        <label for="created">Created Date</label>
    </label>
</form>
<form class="option-bar" action="/" method="get">
    <label class="sort-button">
        <input type="radio" value={{toggle_direction orderDescending}} id="priority" name="orderDescending" {{checkedIfEqual orderBy "priority"}} onclick="submit()"/>
        <input type="hidden" value="priority" id="priority" name="orderBy"/>
        <label for="priority">Importance</label>
    </label>
</form>
</div>

<ol>
    {{#if tasks}}
    {{#each tasks}}
    <li>
        <div class="task-container">
            <div class="text-container">
                <h3 class="task-title">{{this.title}}</h3>
                <textarea class="task-content">{{this.content}}</textarea>
            </div>
            <div class="decoration-container">
                <div class="priority-holder">
                    {{#times this.priority}}
                        <img src="images/flag.svg" alt="Priority" width="30" height="30">
                    {{/times}}
                </div>
                <div class="due-date">Due: {{this.dueText}}</div>
                <div class="end-block">
                    <form action="/task/{{this._id}}" method="get">
                        <button type="submit" class="edit-button">Edit</button>
                    </form>
                    <img style="visibility: {{#if this.done}} visible {{else}} hidden{{/if}}" class="check-image" src="images/tick.svg" alt="Done!" width="30" height="30">
                </div>
            </div>
        </div>
    </li>
    {{/each}}
    {{else}}
        <p class="no-tasks">There are no Tasks Yet</p>
    {{/if}}
</ol>
<form action="/task" method="get">
    <button type="submit" class="floating-action-button">Add Note</button>
</form>
<div class="switch-holder">
    <a>Show done</a>
    <form action="/" method="get">
    <label class="switch">
        <input type="submit" name="hideDone" value={{toggle_boolean hideDone}}>
        <input type="checkbox" {{checkedIfEqual hideDone "true"}}>
        <span class="slider round"></span>
    </label>
    </form>
</div>
